- @comments.each do |comment|
  .media
    .media-left
      = image_tag comment.user.avatar, size: "60x60"
    .media-body
      %h4{class: "media-heading", id: "top-aligned-media"}
        = comment.user.name
      %p
        = comment.text
